:root { 
--black_900_7f:#0000007f; 
--gray_400:#b7b7b7; 
--white_A700_7e:#ffffff7e; 
--blue_gray_50:#f1f1f1; 
--blue_gray_300:#8ab0ab; 
--gray_900:#1a1d1a; 
--black_900_3f:#0000003f; 
--gray_50:#f8f8f8; 
--blue_gray_300_01:#8db3af; 
--blue_gray_100_9e:#d9d9d99e; 
--black_900:#000000; 
--gray_400_01:#c0cbad; 
--white_A700_01:#fefffe; 
--blue_gray_700:#3e505c; 
--blue_gray_900:#26413c; 
--white_A700:#ffffff; 
--red_A700:#ff0000; 
}